# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


# macOs ignore file
.DS_Store


# IntelliJ project files
.idea
gen### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
### Scala template
*.log

